body {
	background-image:url("http://coollectica.github.io/assets/img/content/dunes.jpg");
	background-size: cover;
	background-attachment: fixed; 
}

.tint{
	background-color: hsla(0,100%,100%,0.7);
}

.encabezado {
  border-color:black;
  background: linear-gradient(
  	to right,
  	hsla(190, 100%, 32%, 80%),
  	hsla(190, 100%, 64%, 80%));
}


.bastet {
  color: black;
}
.subtitle{
 color: black;
}

li {
	background-color: hsla(190, 100%, 32%, 80%);
	border-radius:10px;
	box-shadow: none;
	color: white;
}

li:hover{
	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
}

li>a {
	color: white;
	font-weight: 4px;
}

.footer{
	border-color:black;
  	background-color: black;
  }
  .footeritems{
  	background-color: black;
  }

.lateral{
	background-color: hsla(0, 0%, 15%, 50%)
}


  ul{
  	align-items: center;
  }

 

