

.flex > .wrapper{
	flex: 0 70vw;
}

/* HEADER */

.titol>p {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}

.navlist {
	list-style-type: none;
	display:flex;
	justify-content: space-around;
}

li {
	float: left;
	padding: 5px 10px;
}

li a {
	text-align: center;
	text-decoration: none;
}


/* BODY - MAIN*/


.flex{
	display: flex;	
}
.flex.centering{
	justify-content: center;
}
.flex.col{
	flex-direction: column;
}
.flex.form {
	flex-grow: 1;
	flex-shrink: 1;
	justify-content: center;
}

.fieldset.flex{
	flex:1 50vw;

}

.flex.col > *{
	flex-grow: 1;
}

.flex > .fluid{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: auto;	
}

.formfields{
	min-width: 80%;
	margin:20px;
	justify-content: center;
	flex-direction: column;
}

label, select, input{
		min-width: 95%;
		max-width: 95%;
		width: 95%;
		margin:0;
}

/* BODY - ASIDE */


.flex > .fixed-width { 
	flex: 0 0 250px;
	align-items: stretch;
}

.statistics, .forum, .marketplace{
	height: 200px;
	max-width: 90%;
}

/* BODY - FOOTER */


.flex.col > .fixed-height{
	flex-grow:0;
	flex-shrink: 0;
}

.cols{
	columns:3;
	flex:1;
	margin: 10px;
}

.cols > *{
	width:125px;
	height: 125px;
}


figure>img {
	width: 100%;
	height: 100%;
}

.main{
	min-height: 1000px;
}

.newadds{
	flex: 2 auto;
}


.footer{
	min-height: auto;
	border: black 3px solid
}

.footernavbar{
	list-style-type: none;
	display:flex;
	justify-content: space-around;
}


/* posar un media query per pasar de 3 columnes a 2*/


@media screen and (max-width: 1300px){
		.cols {
			columns:2;	
}
}


