body {
	background-image:url("http://coollectica.github.io/assets/img/content/dunes.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin:0;
}

.tint{
	background-color: hsla(0,100%,100%,0.7);
}

.encabezado {
  border-color:black;
  background: linear-gradient(
  	to right,
  	hsla(190, 100%, 32%, 80%),
  	hsla(190, 100%, 64%, 80%));
}

figcaption {
	background-color: black;
	color: white;
	min-width: 100%;
}

.bastet {
  color: black;
}
.subtitle{
 color: black;
}

li , button{
	background-color: hsla(190, 100%, 32%, 80%);
	border-radius:10px;
	box-shadow: none;
	color: white;
}

li:hover, button:hover{
	box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
}

li>a {
	color: white;
}

.footer{
	border-color:black;
  	background-color: black;
  }
  .footeritems{
  	background-color: black;
  }


.lateral{
	background-color: hsla(36, 100%, 85%, 0.7);
	border: solid 1px hsla(36, 100%, 85%, 0.7);
}

.statistics, .forum, .marketplace{
	background: linear-gradient(
  	to left,
  	hsla(190, 100%, 32%, 80%),
  	hsla(190, 100%, 45%, 80%));
	color: black;
	border: 1px solid black;
}


  ul{
  	align-items: center;
  }

 

