@font-face {
  font-family: KGWhattheTeacherWants;
  src: url(https:/coollectica.github.io/fonts.css) 
  
}

body { font-family: Abeezee, "Century Gothic", CenturyGothic, AppleGothic, Tahoma, Verdana, “Microsoft Sans Serif Normal”; sans-serif;}
#Bastet{
  font-family: KGWhattheTeacherWants;
}
