  @font-face {
      font-family : "Roboto";
      src: url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
    }
 
body {
  font-family:"Roboto";
  font-size: 1.5rem !important;
}
 
  
body h2  {
  font-family: Haettenschweiler; font-size: 10vh !important; font-style: normal; 
  src: url("https://coollectica.github.io/Prova2/Haettenschweiler-Regular.ttf");
  background-color: grey;
  -webkit-box-shadow: 10px 10px 16px 2px rgba(255,255,255,1);
-moz-box-shadow: 10px 10px 16px 2px rgba(255,255,255,1);
box-shadow: 10px 10px 16px 2px rgba(255,255,255,1);
  }
body h3 {
  font-family: Haettenschweiler; font-size: 8vh !important; font-style: normal; 
  src: url("https://coollectica.github.io/Prova2/Haettenschweiler-Regular.ttf");
  background-color: grey;
  -webkit-box-shadow: 10px 10px 16px 2px rgba(255,255,255,1);
-moz-box-shadow: 10px 10px 16px 2px rgba(255,255,255,1);
box-shadow: 10px 10px 16px 2px rgba(255,255,255,1);
  }

.column1 h2{
  text-shadow: 5px 5px green;
  }

.column1 h3{
 text-shadow: 5px 5px green;
} 
.column2 h2{
 text-shadow: 5px 5px green;
}
.column2 h3{
 text-shadow: 5px 5px green;
}

.column3 h2{
 text-shadow: 5px 5px green;
}

.column3 h3{
text-shadow: 5px 5px green;
}
